.tableContent {
  width: 100%;
  margin-top: 30px;
  border: 1px solid;
  tr {
    height: 50px;
  }
  td {
    text-align: center;
  }
  th {
    font-size: 20px;
  }
  .rowName {
    font-weight: 500;
    font-size: 18px;
  }
  .detailButton {
    background-color: #616161;
    color: #fff;
    margin: 10px;
  }
  button {
    outline: none;
    height: 25px;
    width: 80px;
    border-radius: 5px;
  }
}
